.g-a{
	display:contents;
}
.g-hr{
	background:#e2e2e2;
	height:1px;
	margin:30px 0;
}


.g-bg-topo{
	padding:16px 0;
	background-repeat:repeat;	
	background-color: rgb(255,201,0);
	background-image: url('../imgs/bg-fios-topo.png'), linear-gradient(117deg, rgba(255,201,0,1) 0%, rgba(255,201,0,1) 28%, rgba(0,156,145,1) 77%, rgba(0,156,145,1) 100%); 
}




/*BOX, BLOCO*/
.g-box-login{
	margin:10% auto;
	max-width:350px;
	display:block;
}
.g-box-footer{
	text-align:center;
}



/*IMAGEM*/
.g-selo-vacineja{
	max-width:195px;
	width:45%;
}
.g-logo{
	max-width:195px;
	width:45%;	
}

/*FONTES*/
.g-tit-r{
	margin:40px 0;
	display:block;
	color:#999;
	border-bottom:1px solid #009c91;
	padding-bottom:8px;
}

.g-txt-p{
	color:#999;
}

.g-link{
	color:#009c91;
	text-decoration:none;
}


/*FORMULARIO*/

.g-btn-basico{
	padding:8px 40px !important;
	background:#009c91;
	border:1px solid #009c91;
	margin:20px 0;
}